<template>
  <div :class="box">
    <div :class="boxOn">
      <div :class="boxOnLeft">ฝาก<button :class="button1"></button></div>
      <div :class="boxOnRight">Username <button>Logout</button></div>
    </div>
    <div :class="boxLower">
      <p>ฝากเงิน - ถอนเงิน</p>
      <p>คิวปัจจุบัน : <p1>1</p1> <p1>A1</p1></p>
    </div>

    <button :class="button2">กดว่าง</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      box: 'box',
      boxOn: 'boxOn',
      boxOnRight: 'boxOnRight',
      boxOnLeft: 'boxOnLeft',
      boxLower: 'boxLower',
      button1: 'button1',
      button2: 'button2'
    }
  }
}
</script>
<style>
.box {
  border-radius: 15px 15px 15px 15px;
  padding: 5%;
  width: 70%;
  height: 70%;
  margin: 5%;
  background-color: hotpink;
}
.boxOnLeft {
  float: left;
  text-align: left;
  height: 5%;
  width: 40%;
}
.boxOnRight {
  float: right;
  text-align: right;
  height: 5%;
  width: 40%;
}
.boxLower {
  padding: 30px;
}
.button1 {
  border-radius: 15px 15px 15px 15px;
  width: 20px;
  height: 20px;
}
.button2 {
  float: left;
}
</style>
