<template>
  <b-row>
    <b-col>
      <div>
        <br />
        <b-container fluid class="p-4 bg-dark">
          <b-row>
            <b-col>
              <b-button
                variant="info"
                style="padding: 100px 100px 100px 100px; margin: 10px 10px 10px 10px;background-color: aqua;"
                ><h1>กดสิ</h1></b-button
              >
            </b-col>
            <b-col>
              <b-button
                variant="info"
                style="padding: 100px 100px 100px 100px; margin: 10px 10px 10px 10px;background-color: pink;"
                ><h1>กดสิ</h1></b-button
              >
            </b-col>
            <b-col>
              <b-button
                variant="info"
                style="padding: 100px 100px 100px 100px; margin: 10px 10px 10px 10px;background-color: red;"
                ><h1>กดสิ</h1></b-button
              >
              <!-- <button pill variant="light">
                <b-img
                  thumbnail
                  fluid
                  src="https://picsum.photos/250/250/?image=59"
                ></b-img>
              </button> -->
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-col>
    <b-col sm="1"></b-col>
  </b-row>
</template>
