<template>
  <div
    class="border d-flex align-items-center justify-content-center"
    style="height: 400px; border-radius: 15px 15px 15px 15px;"
  >
    <b-container>
      <b-row align-h="center">
        <b-col md="6" offset-md="0">
          <b-form @submit.stop.prevent @submit="onSubmit">
            <b-form-group label="Username:" label-for="input-username">
              <b-form-input
                v-model="form.name"
                id="input-username"
                placeholder="Enter username"
              ></b-form-input>
              <b-form-invalid-feedback :state="validation" class="mb-sm-3">
                Your username must be 3 or more letters.
              </b-form-invalid-feedback>
              <b-form-valid-feedback :state="validation" class="mb-sm-3">
                Looks Good.
              </b-form-valid-feedback>
            </b-form-group>

            <b-form-group label="Email address:" label-for="input-email">
              <b-form-input
                id="input-email"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>
            <br />
            <b-button type="submit" variant="primary">Submit</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        email: ''
      }
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      this.$router.push({ name: 'queueCustomer' })
    }
  },
  computed: {
    validation () {
      return this.form.name.length > 3
    }
  }
}
</script>
