<template>
  <div :class="box">
    <div :class="boxOn">
      Username <button type="button" class="btn btn-danger">ออกจากระบบ</button>
    </div>
    <div :class="boxLower">
      <h5>คิวรวม</h5>
      <div :class="boxOnLeft">
        <button>ฝาก/ถอน</button>
        <button>เรียกคิว</button>
        <b-table
          striped
          hover
          :items="items"
          :fields="fields"
          :class="box2"
        ></b-table>
      </div>
      <div :class="boxOnRight">
        <button>ฝาก/ถอน</button>
        <button>เรียกคิว</button>
        <b-table
          striped
          hover
          :items="items"
          :fields="fields"
          :class="box2"
        ></b-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      fields: ['ลำดับคิว', 'เลขคิว'],
      items: [
        {
          isActive: true,
          ลำดับคิว: 1,
          เลขคิว: 'A001'
        },
        { isActive: false, ลำดับคิว: 2, เลขคิว: 'A002' },
        { isActive: false, ลำดับคิว: 3, เลขคิว: 'A003' },
        { isActive: true, ลำดับคิว: 4, เลขคิว: 'A004' }
      ],
      box: 'box',
      box2: 'box2',
      boxOn: 'boxOn',
      boxOnRight: 'boxOnRight',
      boxOnLeft: 'boxOnLeft',
      boxLower: 'boxLower'
    }
  }
}
</script>
<style>
.box {
  border-radius: 15px 15px 15px 15px;
  padding: 5%;
  width: 70%;
  height: 500px;
  margin: 5%;
  background-color: rgb(128, 218, 245);
}
.boxOn {
  text-align: right;
}
.boxOnLeft {
  float: left;
  text-align: left;
  height: 5%;
  width: 40%;
}
.boxOnRight {
  float: right;
  text-align: right;
  height: 5%;
  width: 40%;
}
.boxLower {
  padding: 30px;
}
</style>
