<template>
  <div>
    <b-row
      ><b-img :src="require('../assets/Home1.jpg')" width="1256%"></b-img
    ></b-row>
    <b-row>
      <b-col></b-col>
      <b-col
        ><br />
        <b-img :src="require('../assets/QRIF.jpg')" width="250%"></b-img>
        <div>
          <br />
          <router-link to="/cusmain"
          >!!!!! คลิกที่นี่เพื่อไปหน้าจอรับคิว !!!!!</router-link
          >
        </div>
      </b-col>
      <b-col></b-col>
    </b-row>
  </div>
</template>
