<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <div>
          <!-- Just an image -->
          <b-navbar variant="faded" type="light">
            <b-navbar-brand href="#">
              <img
                src="https://pngimg.com/uploads/welcome/welcome_PNG46.png"
                width="10%"
              />
              <img
                src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/11/iclub-noGradient-CircleBk.png"
                width="4%"
              />
            </b-navbar-brand>
          </b-navbar>
        </div>
        <div>
          <!-- <b-navbar-nav
            ><b-nav-item href="#">Register</b-nav-item></b-navbar-nav
          > -->
          <router-link to="/register">&nbsp;Register&nbsp;</router-link>
        </div>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <!-- <a href="../views/Login.vue"></a> -->
            <b-button
              variant="light"
              size="lg"
              class="my-2 my-sm-0"
              type="button"
              ><router-link to="/login">Login</router-link></b-button
            >
            <!-- <img src="http://a.lnwpic.com/uehd3s.png" width="10%"> พื้นหลังว่างเปล่า -->
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
